<form >
  <div class="ui-g ui-g-fluid">
    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>机构号</mat-label>
        <input name="deptNumber"  matInput [(ngModel)]="systemDept.deptNumber" >
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>机构全称</mat-label>
        <input name="fullName" matInput [(ngModel)]="systemDept.fullName">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>机构简称</mat-label>
        <input name="shortName" matInput [(ngModel)]="systemDept.shortName">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>排序号</mat-label>
        <input name="sortNumber" matInput [(ngModel)]="systemDept.sortNumber">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>上级机构</mat-label>
        <input  type="text" matInput [formControl]="parentDeptControl" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngIf="isOptionsLoading$ | async">
            <app-loading></app-loading>
          </mat-option>
          <ng-container *ngIf="!(isOptionsLoading$ | async)">
            <mat-option *ngFor=" let systemDept of systemDeptOptions$ | async" [value]="systemDept">
              {{systemDept.shortName}}({{systemDept.deptNumber}})
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
        <label>有效期限：</label>
        <p-calendar name="beginDate"
                    [locale]="myZH"
                    dateFormat="yy-mm-dd"
                    monthNavigator="true"
                    yearNavigator="true"
                    yearRange="2000:3000"
                    [(ngModel)]="systemDept.beginDate"
        >
        </p-calendar>
        <label style="margin-left: 10px; margin-right: 10px;">-</label>
        <p-calendar name="endDate"
                    [locale]="myZH"
                    dateFormat="yy-mm-dd"
                    monthNavigator="true"
                    yearNavigator="true"
                    yearRange="2000:3000"
                    [(ngModel)]="systemDept.endDate"
        ></p-calendar>
    </div>

    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button class="btn btn-primary" (click)="onSubmit()">提交</button>
      <button class="btn btn-warning" style="margin-left: 10px;" (click)="onCancel()">取消</button>
    </div>
  </div>
</form>
