<div class="row" style="margin-left: 15px;margin-bottom: 10px;">
  <button class="btn btn-primary" (click)="onAdd()">新增</button>
</div>

<app-loading *ngIf="isLoading$ | async"></app-loading>

<p-treeTable *ngIf="!(isLoading$ | async)" [value]="systemDepts$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>机构号</th>
      <th>全称</th>
      <th>简称</th>
      <th [ngStyle]="{width:'50px'}">排序号</th>
      <th>有效期限</th>
      <th>操作</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData="rowData" let-rowNode>
    <tr [ngClass]="isValid(rowData)">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.deptNumber}}
      </td>
      <td>{{rowData.fullName}}</td>
      <td>{{rowData.shortName}}</td>
      <td [ngStyle]="{width:'50px'}">{{rowData.sortNumber}}</td>
      <td>{{rowData.beginDate | date:'yyyy年MM月dd日'}} - {{rowData.endDate |  date:'yyyy年MM月dd日'}}</td>
      <td>
        <button class="btn btn-warning" (click)="onEdit(rowData)">修改</button>
        <button type="button" class="btn btn-primary ml5" (click)="onPositionEdit(rowData)">岗位维护</button>
        <button class="btn btn-danger ml5"  (click)="onDelete(rowData)">删除</button>
      </td>
    </tr>
  </ng-template>
</p-treeTable>

<p-dialog [header]="dialogTitle" [(visible)]="isEditing" [modal]="true" [style]="{width: '60vw'}" >
  <app-system-dept-detail
    [systemDept]="systemDept$ | async"
    (onSubmitClick)="onSubmit()"
    (onCancelClick)="onCancel()"
  >
  </app-system-dept-detail>
</p-dialog>



<p-confirmDialog #cd header="确认" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" class="btn btn-danger" (click)="cd.accept()">删除</button>
    <button type="button" class="btn btn-warning" (click)="cd.reject()">取消</button>
  </p-footer>
</p-confirmDialog>
