<form >
  <div class="ui-g ui-g-fluid">
    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>柜员号</mat-label>
        <input name="tellerNumber"  matInput [(ngModel)]="systemUser.tellerNumber" >
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>姓名</mat-label>
        <input name="userName" matInput [(ngModel)]="systemUser.name">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>联系电话</mat-label>
        <input name="telephone" matInput [(ngModel)]="systemUser.telephone">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>常用IP地址</mat-label>
        <input name="autoLoginIp" matInput [(ngModel)]="systemUser.autoLoginIp">
        <mat-error></mat-error>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>所属部门</mat-label>
        <input  type="text" matInput [formControl]="deptControl" [matAutocomplete]="auto" [(ngModel)]="systemUser.dept">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySystemDept" (optionSelected)="changePosition($event)">
          <mat-option *ngIf="isDeptLoading$ | async">
            <app-loading></app-loading>
          </mat-option>
          <ng-container *ngIf="!(isDeptLoading$ | async)">
            <mat-option *ngFor=" let systemDept of systemDepts$ | async" [value]="systemDept">
              {{systemDept.shortName}}({{systemDept.deptNumber}})
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="ui-g-12">
      <mat-form-field>
        <mat-label>岗位</mat-label>
        <input  type="text" matInput [formControl]="positionControl" [matAutocomplete]="positionAuto"
                [(ngModel)]="systemUser.position">
        <mat-autocomplete #positionAuto="matAutocomplete" [displayWith]="displayPositionFn">
          <mat-option *ngIf="isPositionLoading$ | async">
            <app-loading></app-loading>
          </mat-option>
          <ng-container *ngIf="!(isPositionLoading$ | async)">
            <mat-option *ngFor=" let systemPosition of systemPositions$ | async" [value]="systemPosition">
              {{systemPosition.name}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button class="btn btn-primary" (click)="onSubmit()" >提交</button>
      <button class="btn btn-warning" style="margin-left: 10px;" (click)="onCancel()">取消</button>
    </div>

  </div>
</form>
